<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: head">
</head>
<body>
    <div layout:fragment="content" th:object="${admin}">
        <link rel="stylesheet" th:href="@{/CSS/admin.css}">
        <div id="preloader">
            <div class="status">&nbsp;</div>
        </div>
        <input type="checkbox" id="nav-toggle">
        <div class="sidebar">
            <div class="sidebar-brand">
                <a th:href="@{/}">
                    <h2><span class="lab la-youtube"></span><span>ALLFORONE</span></h2>
                </a>
            </div>

            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a th:href="@{'/admin/' + ${admin.getId()}}"><span class="las la-igloo"></span>
                            <span>Bảng điều khiển</span></a>
                    </li>
                    <li>
                        <a th:href="@{'/admin/' + ${admin.getId()} + '/data'}" class="active"><span class="las la-box"></span>
                            <span>Quản lý dữ liệu</span></a>
                    </li>
                    <li>
                        <a th:href="@{'/admin/' + ${admin.getId()} + '/users'}"><span class="las la-users"></span>
                            <span>Người dùng</span></a>
                    </li>
                    <li>
                        <a th:href="@{'/admin/' + ${admin.getId()} + '/film'}"><span class="las la-file-video"></span>
                            <span>Film</span></a>
                    </li>
                    <li>
                        <a th:href="@{/}"><span class="las la-question-circle"></span>
                            <span>Về web</span></a>
                    </li>
                    <li>
                        <a th:href="@{/account/logout}"><span class="las la-sign-out-alt"></span>
                            <span>Đăng xuất</span></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-content">
            <header>
                <h2>
                    <label for="nav-toggle">
                        <span class="las la-bars"></span>
                    </label>
                    Quản lý dữ liệu
                </h2>

                <div class="search-wrapper">
                    <span class="las la-search"></span>
                    <input type="search" placeholder="Search here">
                </div>

                <div class="user-wrapper">
                    <img th:src="@{/images/avt4.jpg}" width="40px" height="40px" alt="">
                    <div>
                        <h4 th:text="${admin.getHo() + ' ' + admin.getTen()}"></h4>
                        <small>Super admin</small>
                    </div>
                </div>
            </header>

            <main>
                <form th:action="@{'/admin/' + ${admin.getId()} + '/data/add/director'}" method="post" th:object="${director}">
                    <div class="card">
                        <div class="card-header">
                            <h3>Thêm đạo diễn</h3>
                        </div>
                        <div class="card-body">
                            <div class="input_box">
                                <span class="details">Họ: </span>
                                <input class="rectangle" type="text" th:field="*{ho}" placeholder="Enter your first name" required>
                            </div>
                            <div class="input_box">
                                <span class="details">Tên: </span>
                                <input class="rectangle" type="text" th:field="*{ten}" placeholder="Enter your last name" required>
                            </div>
                        </div>
                    </div>
                    <div class="action">
                        <div class="button">
                            <button type="submit" class="button_save">LƯU</button>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>