<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: head">
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>
    <div layout:fragment="content">
        <div th:if="${session.auth} == true">
            check
        </div>
        <div th:if="${session.auth} != true">
            false
        </div>
    </div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>