<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: head">
</head>
<body>
    <div layout:fragment="content">
        <link rel="stylesheet" th:href="@{/CSS/user.css}">
        <input type="checkbox" id="nav-toggle">
        <div class="sidebar">
            <div class="sidebar-brand">
                <h2><span class="lab la-youtube"></span><span>ALLFORONE</span></h2>
            </div>

            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href=""><span class="las la-user-circle"></span>
                            <span>Tài khoản</span></a>
                    </li>
                    <li>
                        <a href="" class="active"><span class="las la-history"></span>
                            <span>Lịch sử</span></a>
                    </li>
                    <li>
                        <a href=""><span class="las la-bookmark"></span>
                            <span>Bộ sưu tập</span></a>
                    </li>
                    <li>
                        <a href=""><span class="las la-question-circle"></span>
                            <span>Về web</span></a>
                    </li>
                    <li>
                        <a href=""><span class="las la-sign-out-alt"></span>
                            <span>Đăng xuất</span></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-content">
            <header>
                <h2>
                    <label for="nav-toggle">
                        <span class="las la-bars"></span>
                    </label>
                    Lịch sử
                </h2>

                <div class="search-wrapper">
                    <span class="las la-search"></span>
                    <input type="search" placeholder="Search here">
                </div>

                <div class="user-wrapper">
                    <img th:src="@{/images/avt4.jpg}" width="40px" height="40px" alt="">
                    <div>
                        <h4>Liluphuong</h4>
                        <small>User</small>
                    </div>
                </div>
            </header>

            <main>
                <div class="film-grid">
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/wanda-banner.jpg}" alt="">
                        <div class="card-name">Wanda Doctor Strange</div>
                        <div class="card-total">Tập cuối</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/black-banner.png}" alt="">
                        <div class="card-name">Black Panther 2</div>
                        <div class="card-total">Tập 2</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/supergirl-banner.jpg}" alt="">
                        <div class="card-name">Supergirl</div>
                        <div class="card-total">Tập 3</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                    <div class="film-card">
                        <img class="card-img" th:src="@{/images/transformer-banner.jpg}" alt="">
                        <div class="card-name">Transformer S</div>
                        <div class="card-total">Tập 4</div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>