<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: head">
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>
    <div layout:fragment="content">
        <link rel="stylesheet" type="text/css" th:href="@{/CSS/movieInfo.css}"/>
        <th:block th:object="${movie}">
            <div class="app">
            <div class ="container">
                <div class="navbar">
                    <ul class="navbar-list">
                        <li class="navbar-list-item">Xem Phim ></li>
                        <li class="navbar-list-item">Phim Hành Động ></li>
                        <li class="navbar-list-item">Phim Viễn Tưởng ></li>
                        <li class="navbar-list-item">Wanda Doctor Strange</li>
                    </ul>
                </div>
                <div class="padding"></div>
                <th:block th:object="${name}">
                    <div class="banner" th:style="'background: url(/images/movies/'+${name}+'.jpg); background-size: 100% 100%;'">
                        <div class="banner-info">
                            <img class="banner-avatar" th:src="@{'/images/movies/'+${name}+'.jpg'}" alt=""/>
                            <div class="banner-text">
                                <h1 th:text="${movie.getTen_phim()}">
                                </h1>
                                <div class="banner-btn" >
                                    <a href="#" class="button banner-btn-trailer">Trailer</a>
                                    <a th:href="@{'/movie/theatre/'+${name}+'/'+${movie.getId()}}" class="button banner-btn-see">Xem phim</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                <div class="padding"></div>
                <div class="latest-episode" th:with="ep=${movie.getThoi_luong()}-1">
                    <th:block th:if="${ep} < 1">
                        <span class="button btn-episode">Phim lẻ</span>
                    </th:block>
                    <th:block th:if="${ep} > 1">
                        <span>Tập mới nhất:</span>
                        <th:block  th:each="i:${#numbers.sequence(1, ep, 1)}">
                            <a href="#" class="button btn-episode" th:text="'Tập '+${i}"></a>
                        </th:block>
                        <a href="#" class="button btn-episode">Tập Cuối</a>
                    </th:block>
                </div>
                <div class="padding"></div>
                <div class="info_film">
                    <div class="star">
                        <img th:src="@{/images/star-on.png}" alt="" class="star_icon"/>
                        <img th:src="@{/images/star-on.png}" alt="" class="star_icon"/>
                        <img th:src="@{/images/star-on.png}" alt="" class="star_icon"/>
                        <img th:src="@{/images/star-on.png}" alt="" class="star_icon"/>
                        <img th:src="@{/images/star-on.png}" alt="" class="star_icon"/>
                        <img th:src="@{/images/star-off.png}" alt="" class="star_icon"/>
                        <img th:src="@{/images/star-off.png}" alt="" class="star_icon"/>
                        <img th:src="@{/images/star-off.png}" alt="" class="star_icon"/>
                        <img th:src="@{/images/star-off.png}" alt="" class="star_icon"/>
                        <img th:src="@{/images/star-off.png}" alt="" class="star_icon"/>
                    </div>
                    <ul class="info">
                        <li class = "item_info"><label>Đang phát: </label> <span><font color="red" th:text="${movie.getChat_luong()}"></font></span></li>
                        <li class = "item_info"><label>Năm phát hành: </label><a href="#" th:text="${movie.getNam()}"></a></li>
                        <li class = "item_info"><label>Quốc gia: </label><a href="#" th:text="${movie.getQuoc_gia()}"></a></li>
                        <li class = "item_info"><label>Thể loại: </label><a href="#">Phim Viễn Tưởng, Phim Hành Động</a></li>
                        <li class = "item_info"><label>Đạo diễn: </label><span>None</span></li>
                        <li class = "item_info"><label>Thời lượng: </label><span th:text="${movie.getThoi_luong()}+' Tập'"></span></li>
                        <li class = "item_info"><label>Diễn viên: </label><span>None</span></li>
                    </ul>
                </div>
                <div class="padding"></div>
                <div class="block_content_film">
                    <h3>Nội dung phim: </h3>
                    <div class="content_film">
                        <b th:text="${movie.getTen_phim()}"></b>
                        <span th:text="${movie.getMo_ta()}"></span><br>
                    </div>
                </div>
            </div>
        </div>
        </th:block>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>