<div th:fragment="nav">
    <!-- preloader  -->
    <div id="preloader">
        <div class="status">&nbsp;</div>
    </div>
    <!-- NAV -->
    <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <a th:href="@{/}" class="logo">
                    <i class='bx bx-movie-play bx-tada main-color'></i>ALLFOR<span class="main-color">ONE</span>
                </a>
                <div class="search-wrapper">
                    <span class="las la-search"></span>
                    <input type="search" placeholder="Search here">
                </div>
                <ul class="nav-menu" id="nav-menu">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a href="#">Genre</a></li>
                    <li><a href="#">Movies</a></li>
                    <li><a href="#">Series</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Top Movie</a></li>
                    <li th:if="${session.auth} != true">
                        <a th:href="@{/account/login}" class="btn btn-hover">
                            <span>Sign in</span>
                        </a>
                    </li>
                    <li th:if="${session.auth} == true">
                        <th:block th:if="${session.role == true}">
                            <a th:href="@{'/admin/' + ${session.id}}" class="user-wrapper">
                                <img th:src="@{/images/avt4.jpg}" width="40px" height="40px" alt="">
                                <div>
                                    <h4 th:text="${session.ho} + ' ' + ${session.ten}"></h4>
                                    <small>Super Admin</small>
                                </div>
                            </a>
                        </th:block>
                        <th:block th:if="${session.role != true}">
                            <a th:href="@{'/account/' + ${session.id}}" class="user-wrapper">
                                <img th:src="@{/images/avt4.jpg}" width="40px" height="40px" alt="">
                                <div>
                                    <h4 th:text="${session.ho} + ' ' + ${session.ten}"></h4>
                                    <small>User</small>
                                </div>
                            </a>
                        </th:block>
                    </li>
                </ul>
                <!-- MOBILE MENU TOGGLE -->
                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END NAV -->
</div>