<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: head">
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>
    <div layout:fragment="content">
        <!-- HERO SECTION -->
        <div class="hero-section">
            <!-- HERO SLIDE -->
            <div class="hero-slide">
                <div class="owl-carousel carousel-nav-center" id="hero-carousel">
                    <th:block th:each ="movie, state: ${movies}">
                        <th:block th:if="${state.index} < 5">
                            <!-- SLIDE ITEM -->
                            <div class="hero-slide-item">
                                <img th:src="@{'/images/movies/' + ${movie.key} + '.jpg'}" alt="">
                                <div class="overlay"></div>
                                <div class="hero-slide-item-content">
                                    <div class="item-content-wraper">
                                        <div class="item-content-title top-down" th:text="${movie.value.getTen_phim()}">
                                        </div>
                                        <div class="movie-infos top-down delay-2">
                                            <div class="movie-info">
                                                <i class="bx bxs-star"></i>
                                                <span>9.5</span>
                                            </div>
                                            <div class="movie-info">
                                                <i class="bx bxs-time"></i>
                                                <span th:text="${movie.value.getThoi_luong()}"></span>
                                                <span>tập</span>
                                            </div>
                                            <div class="movie-info">
                                                <span th:text="${movie.value.getChat_luong()}">HD</span>
                                            </div>
                                            <div class="movie-info">
                                                <span>16+</span>
                                            </div>
                                        </div>
                                        <div class="item-content-description top-down delay-4" th:text="${movie.value.getMo_ta()}">
                                        </div>
                                        <div class="item-action top-down delay-6">
                                            <a th:href="@{'/movie/theatre/'+${movie.key}+'/'+${movie.value.getId()}}" class="btn btn-hover">
                                                <i class="bx bxs-right-arrow"></i>
                                                <span>Watch now</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SLIDE ITEM -->
                        </th:block>
                    </th:block>
                </div>
            </div>
            <!-- END HERO SLIDE -->
            <!-- TOP MOVIES SLIDE -->
            <div class="top-movies-slide">
                <div class="owl-carousel" id="top-movies-slide">
                    <th:block th:each ="movie, state: ${movies}">
                        <th:block th:if="${state.index} < 10">
                            <!-- MOVIE ITEM -->
                            <div class="movie-item">
                                <img th:src="@{'/images/movies/' + ${movie.key} + '.jpg'}" alt="">
                                <div class="movie-item-content">
                                    <div class="movie-item-title" th:text="${movie.value.getTen_phim()}">
                                    </div>
                                    <div class="movie-infos">
                                        <div class="movie-info">
                                            <i class="bx bxs-star"></i>
                                            <span>9.5</span>
                                        </div>
                                        <div class="movie-info">
                                            <i class="bx bxs-time"></i>
                                            <span th:text="${movie.value.getThoi_luong()}"></span>
                                            <span>Tập</span>
                                        </div>
                                        <div class="movie-info">
                                            <span th:text="${movie.value.getChat_luong()}"></span>
                                        </div>
                                        <div class="movie-info">
                                            <span>16+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END MOVIE ITEM -->
                        </th:block>
                    </th:block>
                </div>
            </div>
            <!-- END TOP MOVIES SLIDE -->
        </div>
        <!-- END HERO SECTION -->

        <!-- LATEST MOVIES SECTION -->
        <div class="section">
            <div class="container">
                <div class="section-header">
                    latest movies
                </div>
                <div class="movies-slide carousel-nav-center owl-carousel">
                    <th:block th:each ="movie, state: ${movies}">
                        <th:block th:if="${state.index} < 10">
                            <!-- MOVIE ITEM -->
                            <div class="movie-item">
                                <img th:src="@{'/images/movies/' + ${movie.key} + '.jpg'}" alt="">
                                <div class="movie-item-content">
                                    <div class="movie-item-title" th:text="${movie.value.getTen_phim()}">
                                    </div>
                                    <div class="movie-infos">
                                        <div class="movie-info">
                                            <i class="bx bxs-star"></i>
                                            <span>9.5</span>
                                        </div>
                                        <div class="movie-info">
                                            <i class="bx bxs-time"></i>
                                            <span th:text="${movie.value.getThoi_luong()}"></span>
                                            <span>Tập</span>
                                        </div>
                                        <div class="movie-info">
                                            <span th:text="${movie.value.getChat_luong()}"></span>
                                        </div>
                                        <div class="movie-info">
                                            <span>16+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END MOVIE ITEM -->
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>
        <!-- END LATEST MOVIES SECTION -->

        <!-- LATEST SERIES SECTION -->
        <div class="section">
            <div class="container">
                <div class="section-header">
                    latest series
                </div>
                <div class="movies-slide carousel-nav-center owl-carousel">
                    <th:block th:each ="movie, state: ${movies}">
                        <th:block th:if="${state.index} < 10">
                            <!-- MOVIE ITEM -->
                            <div class="movie-item">
                                <img th:src="@{'/images/movies/' + ${movie.key} + '.jpg'}" alt="">
                                <div class="movie-item-content">
                                    <div class="movie-item-title" th:text="${movie.value.getTen_phim()}">
                                    </div>
                                    <div class="movie-infos">
                                        <div class="movie-info">
                                            <i class="bx bxs-star"></i>
                                            <span>9.5</span>
                                        </div>
                                        <div class="movie-info">
                                            <i class="bx bxs-time"></i>
                                            <span th:text="${movie.value.getThoi_luong()}"></span>
                                            <span>Tập</span>
                                        </div>
                                        <div class="movie-info">
                                            <span th:text="${movie.value.getChat_luong()}"></span>
                                        </div>
                                        <div class="movie-info">
                                            <span>16+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END MOVIE ITEM -->
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>
        <!-- END LATEST SERIES SECTION -->

        <!-- LATEST CARTOONS SECTION -->
        <div class="section">
            <div class="container">
                <div class="section-header">
                    latest cartoons
                </div>
                <div class="movies-slide carousel-nav-center owl-carousel">
                    <th:block th:each ="movie, state: ${movies}">
                        <th:block th:if="${state.index} < 10">
                            <!-- MOVIE ITEM -->
                            <div class="movie-item">
                                <img th:src="@{'/images/movies/' + ${movie.key} + '.jpg'}" alt="">
                                <div class="movie-item-content">
                                    <div class="movie-item-title" th:text="${movie.value.getTen_phim()}">
                                    </div>
                                    <div class="movie-infos">
                                        <div class="movie-info">
                                            <i class="bx bxs-star"></i>
                                            <span>9.5</span>
                                        </div>
                                        <div class="movie-info">
                                            <i class="bx bxs-time"></i>
                                            <span th:text="${movie.value.getThoi_luong()}"></span>
                                            <span>Tập</span>
                                        </div>
                                        <div class="movie-info">
                                            <span th:text="${movie.value.getChat_luong()}"></span>
                                        </div>
                                        <div class="movie-info">
                                            <span>16+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END MOVIE ITEM -->
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>
        <!-- END LATEST CARTOONS SECTION -->

        <!-- SPECIAL MOVIE SECTION -->
        <div class="section">
            <div class="hero-slide-item">
                <img th:src="@{/images/transformer-banner.jpg}" alt="">
                <div class="overlay"></div>
                <div class="hero-slide-item-content">
                    <div class="item-content-wraper">
                        <div class="item-content-title">
                            Transformer
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>9.5</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>120 mins</span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                        <div class="item-content-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium, facere ab suscipit.
                        </div>
                        <div class="item-action">
                            <a href="#" class="btn btn-hover">
                                <i class="bx bxs-right-arrow"></i>
                                <span>Watch now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SPECIAL MOVIE SECTION -->

        <!-- PRICING SECTION -->
<!--        <div class="section">-->
<!--            <div class="container">-->
<!--                <div class="pricing">-->
<!--                    <div class="pricing-header">-->
<!--                        ALLFOR<span class="main-color">ONE</span> x pricing-->
<!--                    </div>-->
<!--                    <div class="pricing-list">-->
<!--                        <div class="row">-->
<!--                            <div class="col-4 col-md-12 col-sm-12">-->
<!--                                <div class="pricing-box">-->
<!--                                    <div class="pricing-box-header">-->
<!--                                        <div class="pricing-name">-->
<!--                                            Basic-->
<!--                                        </div>-->
<!--                                        <div class="pricing-price">-->
<!--                                            Free-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="pricing-box-content">-->
<!--                                        <p>Originals</p>-->
<!--                                        <p>Swich plans anytime</p>-->
<!--                                        <p><del>65+ top Live</del></p>-->
<!--                                        <p><del>TV Channels</del></p>-->
<!--                                    </div>-->
<!--                                    <div class="pricing-box-action">-->
<!--                                        <a href="#" class="btn btn-hover">-->
<!--                                            <span>Register now</span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-4 col-md-12 col-sm-12">-->
<!--                                <div class="pricing-box hightlight">-->
<!--                                    <div class="pricing-box-header">-->
<!--                                        <div class="pricing-name">-->
<!--                                            Premium-->
<!--                                        </div>-->
<!--                                        <div class="pricing-price">-->
<!--                                            $35.99 <span>/month</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="pricing-box-content">-->
<!--                                        <p>Originals</p>-->
<!--                                        <p>Swich plans anytime</p>-->
<!--                                        <p><del>65+ top Live</del></p>-->
<!--                                        <p><del>TV Channels</del></p>-->
<!--                                    </div>-->
<!--                                    <div class="pricing-box-action">-->
<!--                                        <a href="#" class="btn btn-hover">-->
<!--                                            <span>Register now</span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-4 col-md-12 col-sm-12">-->
<!--                                <div class="pricing-box">-->
<!--                                    <div class="pricing-box-header">-->
<!--                                        <div class="pricing-name">-->
<!--                                            VIP-->
<!--                                        </div>-->
<!--                                        <div class="pricing-price">-->
<!--                                            $65.99 <span>/month</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="pricing-box-content">-->
<!--                                        <p>Originals</p>-->
<!--                                        <p>Swich plans anytime</p>-->
<!--                                        <p><del>65+ top Live</del></p>-->
<!--                                        <p><del>TV Channels</del></p>-->
<!--                                    </div>-->
<!--                                    <div class="pricing-box-action">-->
<!--                                        <a href="#" class="btn btn-hover">-->
<!--                                            <span>Register now</span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- END PRICING SECTION -->
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>